.info-tooltip-link {
  display: block;
  padding-top: 0.3em;
}

.info-tooltip-trigger {
  transition: color 0.15s ease 0.3s;
  position: relative;
  margin-left: 0.3em;

  &:before {
    content: '?';
    color: var(--color-bg) !important;
    font-size: 1rem;
    opacity: 0.4;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1.1;
    cursor: pointer;
    text-align: center;
    background: var(--color-primary);
    border-radius: 50%;
    vertical-align: top;
    top: -.3rem;
    left: .2rem;
  }

  &:hover {
    &:before {
      opacity: 1;
    }

    & > .tooltip-wrapper {
      opacity: 1;
    }
  }
}