$button-spacing: 0.5rem;

.button,
button {
  background-color: var(--color-highlight);
  border: 0.1rem solid var(--color-highlight);
  border-radius: $border-radius-input;
  color: var(--color-bg);
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  height: 2.5em;
  min-width: 6em;
  line-height: 2.1em;
  padding: 0 1em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  margin-right: $button-spacing;
  margin-bottom: 0.5em;

  &:last-child {
    margin-right: 0;
  }

  &.small {
    font-size: 1.4rem;
    padding: 0 0.8em;
  }

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-bg);
  }

  &[disabled],
  &.disabled {
    cursor: default !important;
    opacity: 0.5;

    &:focus,
    &:hover {
      background-color: var(--color-highlight);
      border-color: var(--color-highlight);
    }
  }

  &.button-block {
    display: block;
    width: 100%;
  }

  &.button-outline {
    background-color: transparent;
    color: var(--color-highlight);

    &:focus,
    &:hover {
      background-color: transparent;
      border-color: var(--color-primary);
      color: var(--color-primary);
    }

    &[disabled],
    &.disabled {
      &:focus,
      &:hover {
        border-color: inherit;
        color: var(--color-highlight);
      }
    }
  }

  &.button-clear {
    background-color: transparent;
    border-color: transparent;
    color: var(--color-highlight);

    &:focus,
    &:hover {
      background-color: transparent;
      border-color: transparent;
      color: var(--color-primary);
    }

    &[disabled],
    &.disabled {
      &:focus,
      &:hover {
        color: var(--color-highlight);
      }
    }
  }
}

@media (max-width: $responsive-mobile-browser-width) {
  button,
  .button {
    &.stackable {
      display: block;
      width: 100%;
    }
  }
}