input:not([type='checkbox']):not([type='radio']),
textarea,
select {
  appearance: none;
  background-color: var(--color-bg);
  border: 1px solid var(--color-contrast-border);
  border-radius: $border-radius-input;
  box-shadow: none;
  box-sizing: inherit;
  font-size: $font-size-base;
  font-family: $font-face-primary;
  color: var(--color-text);
  height: 4rem;
  padding: 0.6rem 1rem;
  width: 100%;

  &:focus {
    border-color: var(--color-highlight);
    outline: 0;
  }
}

input.primary[type='text'] {
  font-size: 1.1*$font-size-base;
  padding: 1rem 2rem;
  height: 3.2em;
}

textarea {
  min-height: 4em;
}

label,
legend {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;
  margin-left: 0;
  filter: grayscale(100%);
}

.label-inline {
  display: inline-block;
  font-weight: normal;
  margin-left: 0.5rem;
}

::placeholder {
  color: var(--color-contrast-border);
}