$top-menu-line-height: 2.2em;

.blue-ribbon {
  border-top: 3px solid var(--color-highlight);
}

.top-block {
  background: var(--color-alt-bg);
  padding: 1em 0;
  height: 4.4em;
  font-weight: 400;
  border-bottom: 1px solid var(--color-contrast-border);
}

.top-menu-block {
  padding: 0.2em 0 0.2em 0.5em;
}

.page-container {
  background: var(--color-dashboard-bg);
  padding: 1rem 0 2rem;
  min-height: calc(100vh - 16rem);
}

.footer {
  font-size: 1.4rem;
  padding: 1.2rem 0 1.2rem;
  line-height: 2;
  border-top: 1px solid var(--color-contrast-border);

  a {
    color: var(--color-dimmed);
    @media all and (max-width: $responsive-mobile-browser-width) {
      margin: 0.4em 0;
    }
  }
}

.logo, .logo:hover {
  display: block;
  float: left;
}
