b,
strong {
  font-weight: bold;
}

p {
  margin-top: 0;
}

h1,
h2,
h3,
h4 {
  font-family: $font-face-header;
  font-weight: 300;
  letter-spacing: $header-letter-spacing;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.4rem;
  line-height: 1.3;
}

h3 {
  font-size: 2rem;
  line-height: 1.3;
}

h4 {
  font-size: 1.8rem;
  letter-spacing: -0.08rem;
  line-height: 1.35;
}

code {
  font-family: $font-face-mono;
}

p {
  text-align: justify;
}

img {
  max-width: 100%;
}

hr {
  border: none;
  border-bottom: 1px solid var(--color-contrast-border);
}

ol {
  color: var(--color-dimmed);
}

ol > li > * {
  color: var(--color-text);
}

.small {
  font-size: 1.35rem!important;
}

.tiny {
  font-size: 1.2rem!important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.nowrap {
  white-space: nowrap;
}

.word-break {
  word-break: break-word;
}

.vtop {
  vertical-align: top;
}

.text-active {
  color: var(--color-primary);
}

.dimmed {
  color: var(--color-dimmed);
}

.condensed {
  letter-spacing: -0.05em
}

.text-monospace {
  font-family: $font-face-mono;
}

.details {
  color: var(--color-dimmed);
  font-size: 0.9em;
}

.error,
.alert {
  color: var(--color-alert);
  background: var(--color-alert-bg);
  padding: 0.5em 1em;
}

.color-warning {
  color: var(--color-warning);
}

.warning {
  color: var(--color-warning);
  background: var(--color-warning-bg);
  padding: 0.5em 1em;
}

.color-success {
  color: var(--color-success);
}

.success {
  color: var(--color-success);
  background: var(--color-success-bg);
  padding: 0.5em 1em;
}

.text-price-up {
  color: var(--color-price-up);
}

.text-price-down {
  color: var(--color-price-down);
}