//fonts
$font-face-primary: ClearSans, sans-serif;
$font-face-header: 'Roboto Condensed', Arial, Helvetica, sans-serif;
$font-face-mono: Consolas, 'Liberation Mono', Menlo, Courier, monospace;

$font-size-base: 1.6rem;
$font-weight-base: 300;
$font-line-height-base: 1.4285;
$header-letter-spacing: -0.02em;

//borders
$border-radius-input: 0.3rem;
$container-padding: 2rem;

//responsive breakpoints
$responsive-mobile-browser-width: 992px;

//spacing
$space-micro: 1rem;
$space-standard: 2rem;
$space-double: 4rem;